In [1]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
DROP TABLE IF EXISTS Insumos;
CREATE TABLE Insumos (
    Material VARCHAR(10),
    DataSaida VARCHAR(100),
    NumeroPedido INTEGER,
    RequisitanteDestino VARCHAR(100),
    Unidade VARCHAR(2),
    Quantidade INTEGER,
    Status VARCHAR(100),
) AS SELECT
    MATERIAL,
    DATASAIDA,
    NUMEROPEDIDO,
    REQUISITANTEESTADO,
    UNIDADE,
    QUANTIDADE,
    STATUS,
FROM CSVREAD('distribuicao_epi.csv');

In [ ]:
SELECT * FROM Insumos;